{% load staticfiles i18n %}
<!DOCTYPE html>

<html>
    <head>
        {% block meta_tags %}{% endblock %}
        <title>
            {% block title %}{% trans "TLO" %}{% endblock %}
        </title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{% static 'web/css/style.css' %}"/>
          <link rel="stylesheet" href="{% static 'web/css/bootstrap.css' %}"/>
          <link rel="stylesheet" href="{% static 'web/css/bootstrap-responsive.css' %}"/>
        {% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
      <body>
        <!-- navbar -->
        <div class="navbar-wrapper">
            {% include "web/_navibar.html" %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>