{% extends "__base.htm" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'color/default.css' %}" />
{% endblock %}

{% block body %}

{% block navigation %}
<!-- Navigation -->
<div class="navbar-wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" type="button" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				<h1 class="brand">
					<a href="{% url 'web:home' %}">The Lost Origins</a>
				</h1>
				<nav class="pull-right nav-collapse collapse">
					<ul id="menu-main" class="nav">
						<li class="nav-item">
							<a class="nav-link{% block nav_home %}{% endblock %}" title="About Us" href="{% url 'web:home' %}#about">About Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" title="Contact Us" href="{% url 'web:home' %}#contact">Contact Us</a>
						</li>
						{% if request.user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user }}</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="avx">YES</a>
							</div>
						</li>
						{% else %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">L/R</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="avx">NO</a>
							</div>
						</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<!-- Scripts -->
{% endblock %}

{% endblock %}
