@keyframes fade-in {
	from 	{ opacity: 0; }
	to 		{ opacity: 1; }
}

#LoginForm {
	margin: auto;
	text-shadow: none !important;
	position: relative;
	bottom: 50px;
	animation: fade-in 1 ease-in;
}

.toast {
	position: fixed;
	display: block;
	bottom: 2em;
	height: 2em;
	width: 10em;
	left: calc(50% - 5em);
	animation: fade-in 1s 2 alternate;
	background-color: black;
	border-radius: 2em;
	color: white;
	text-align: center;
	line-height: 2em;
	opacity: 0;
	z-index: 100;
}

.col-fixed-left {
	width: 300px;
	position: fixed;
	height: 100%;
	background: #00000080;
	color: white;
}

.col-fixed-left .list-users {
	height: 95%;
}

.col-fixed-left .list-users > li {
	float: none;  /* Cancel default li float: left */
	width: 100%;
}
